@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Readex-Pro', sans-serif !important;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5940);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover{
  background: linear-gradient(260deg, #fe3072, #ff5940);
}

body {
  text-align: center;
}

/* ----- NAVBAR ----- */

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .nav-button {
  color: rgb(254,48,114);
  background-color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none
}

nav .nav-button:disabled {
   background-color: rgb(181,180,180);
   color: rgb(193,42,90);
}

/* ----- HOME ----- */

.overlay {
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
}

/* ----- AUTHMODAL ----- */

.authmodal {
    margin-left: auto;
    margin-right: auto;
    top: 175px;
    max-width: 360px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}
