@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

:root {
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: "Readex-Pro", sans-serif !important;
}

h2 {
  font-style: italic;
  font-weight: 800;
  font-size: 25px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

input,
textarea {
  border: solid 1px black;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  /* background: linear-gradient(45deg, #fe3072, #ff5940); */
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px white;
  transition: linear;
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}

.secondary-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}

/* ----- NAVBAR ----- */

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .nav-button {
  color: white;

  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 2px white;
  transition: linear 0.2s;
}

nav .nav-button:disabled {
  color: grey;
  border: solid 2px grey;
}

/* ----- HOME ----- */

.overlay {
  /* background: rgb(247, 0, 125);
  background: linear-gradient(
    90deg,
    rgba(247, 0, 125, 1) 0%,
    rgba(80, 7, 170, 1) 92%
  ); */
  background: url("./assets/homebg.png");
}
.home {
  margin-top: 30vh;
}

/* ----- AUTHMODAL ----- */

.authmodal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.authmodal input[type="password"],
.authmodal input[type="email"],
.authmodal input[type="text"] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

.close-icon:hover {
  cursor: pointer;
}

/* ----- ONBOARDING ----- */

.onboarding {
  border-top: solid 1px rgb(154, 154, 154);
  padding-top: 20px;
}

.onboarding form section {
  flex-direction: column;
  padding: 20px;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form .multInputContainer {
  display: flex;
  flex-direction: row;
}

.onboarding form .multInputContainer input {
  margin-right: 10px;
}

.onboarding form .multInputContainer label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type="radio"] {
  display: none;
}

.onboarding form input[type="checkbox"] {
  align-self: start;
}

.onboarding form input[type="radio"]:checked + label {
  border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type="submit"]:hover {
  background-color: rgb(235, 235, 235);
}

.onboarding form input[type="submit"]:active {
  background-color: rgb(226, 115, 115);
}

.onboarding form .photo-container img {
  width: 100%;
}

/* ----- DASHBOARD ----- */

.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.card-container {
  width: 400px;
  height: 650px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.card {
  background-color: #fff;
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/* ----- CHAT CONTAINER ----- */

.chat-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}

.chat-container .chat-container-header {
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container .option {
  border: none;
  background-color: white;
  border-bottom: solid 4px rgb(243, 33, 33);
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 800;
}

.log-out-icon:hover {
  cursor: pointer;
}

.img-container {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

/* ----- CHAT DISPLAY ----- */

.chat-display {
  padding: 20px;
  height: 60vh;
  overflow-y: auto;
}

/* ----- CHAT INPUT ----- */
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
